
.about-container{
    width: 100%;
    background-image: url('../images/aboutbackground.jpg');
    background-color: aqua;
    background-size: cover;
    position: absolute;
    height: 86vh;
    width: 98vw;
    background-position: center;
    display: grid;
    overflow: auto;
    margin-top: 50%;
    margin-inline: auto;
    
}

.heading{
  padding-left: 35rem;
  text-decoration: underline;
  margin-bottom: 0
  
}
.image{
  width: 35vw;
  margin-left: 2rem;
  margin-top: -18rem;
  float: left;
}

.details{
  margin-top: -12rem;
  padding-left: 35rem;
  background-color: antiquewhite;
  padding-right: 2rem;
  color: rgba(85, 45, 45, 0.993);
  font-size: 20px;
}
  
  
  @media (max-width: 768px) {
    .images-container img {
      width: 50%;
    }
  }
  
  @media (max-width: 480px) {
    .images-container img {
      width: 100%;
    }
  }

  
  
  
  
  